<!--Content heading-->
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>
<%- messages() %>
  <!-- Employees and Admins -->
  <h2>Welcome <%= firstName %></h2>
  <%- div %> 
  <% if (accountType === 'Employee' || accountType === 'Admin') { %>
    <h3>Inventory Management</h3>
    <p><a href="/inv">Manage Inventory</a></p>
  <% } %>
  <% if (accountType === 'Admin') { %>
    <h3>Inventory New Classes and Inventories</h3>
    <p><a href="../inv/admin">New added classes and items</a></p>
  <% } %>