<h1>Welcome to CSE Motors!</h1>
<div id="hero">
    <div id="card">
        <h2>DMC Delorean</h2>
        <h3>3 Cup holders Superman doors Fuzzy dice</h3>
        <button id="callaction">Own Today</button>
    </div>
    <picture>
        <source media="(min-width:500px)" srcset="../images/vehicles/delorean.jpg">
        <source media="(min-width:300px)" srcset="../images/vehicles/delorean-tn.jpg">
        <img src="../images/vehicles/delorean.jpg" alt="delorean">
    </picture>
</div>
<div id="content"> 
    <div id="review">
        <h4>DMC Delorean Reviews</h4>
        <ul>
            <li>"So fast it's almost like traveling in time." (4/5)</li>
            <li>"Coolest ride on the road." (4/5)</li>
            <li>"I'am feeling MCfly." (5/5)</li>
            <li>"The most futuristic ride of our day." (4.5/5)</li>
            <li>"80's livin and I love it!" (5/5)</li>
        </ul>
    </div> 
    <div id="upgrade">
        <h4>Deloren Upgrades</h4>
        <figure>
            <img src="../images/upgrades/flux-cap.png" alt="capacitor icon">
            <figcaption>Flux Capacitor</figcaption>
        </figure>
        <figure>
            <img src="../images/upgrades/flame.jpg" alt="fire icon">
            <figcaption>Flame Decals</figcaption>
        </figure>
        <figure>
            <img src="../images/upgrades/bumper_sticker.jpg" alt="bumper icon">
            <figcaption>Bumper Stickers</figcaption>
        </figure>
        <figure>
            <img src="../images/upgrades/hub-cap.jpg" alt=" car cap">
            <figcaption>Hubs Caps</figcaption>
        </figure>
    </div>
</div>