<!--Content heading-->
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>
<%- messages() %>
<% if (errors) { %> 
    <ul class="notice">
       <% errors.array().forEach(error => { %>
        <li><%= error.msg %></li><%}) %>       
    </ul>
<%} %>
<form action="/inv/add-classification" method="post">
    <div>
        <label for="classification_name">Classification Name</label>
        <span>NAME MUST BE ALPHABETIC CHARACTERS ONLY</span>
        <input type="text" id="classification_name" name="classification_name" required pattern="[A-Za-z]+" placeholder="Type a car type" value="<%= locals.classification_name %>">
    </div>
    <button type="submit">Add Classification</button>
</form>